Source: python-aioeventlet
Section: python
Priority: optional
Maintainer: dtrishkin <dtrishkin@mirantis.com>
Build-Depends:
 python-setuptools,
 debhelper (>= 9),
 python-all,
 python-dev,
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
Package: python-aioeventlet
Architecture: any
Depends:
 python-taskflow (<< 0.7.0), python-taskflow (>= 0.4),
 python-trollius (<= 1.0.4), python-trollius (>= 1.0),
 python-eventlet (>= 0.15.1), python-eventlet (<= 0.15.2),
 python-pbr (>= 0.6), python-pbr (<< 1.0), python-pbr (<< 0.7) | python-pbr (>> 0.7),
Description: <insert up to 60 chars description>
